.pcoded-micon i {
	background: #0b1e3d;
	color: #fff;
	width: 20px;
	border-radius: 61px;
	font-size: 12px;
	padding: 1px;
	height: 20px;
	line-height: 19px;
	float: left;
	margin-top: 3px;
}


.pcoded .selector-toggle > a {
	background: #0b1e3d !important;
}

.pcoded-item > li > a {
	color: #282828 !important;
}
.bg-c-purple, .bg-c-blue {
	background: #0b1e3d !important;
}



.become_seller_area {
	width: 100%;
	float: left;
	display: block;
	background: #fff;
	padding: 10px;
}
.nature_card_new {
	height: 150px;
}
.become_seller_header {
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
.card__text__ {
	text-align: center;
	// color: #222 !important;
	font-size: 14px;
	position: relative;
	z-index: 1;
	line-height: 21px;
}
.become__list h6 {
	font-weight: normal;
	line-height: 20px;
	width: 80%;
	float: left;
}
.become__list i {
	float: left;
	margin: 0;
	padding-right: 11px;
	font-size: 18px;
}

.nature_card_new_two {
	position: relative;
	background: linear-gradient(#5a3f15 60%, #2e3217 100%) !important;
}
.nature_card_new_three {
	background: linear-gradient(#2b5a15 60%, #2a2e16 100%) !important;
}
.nature_card_new_four {
	background: linear-gradient(#5a1515 60%, #2a2e16 100%) !important;
}
.nature_card_new_five {
	background: linear-gradient(#2e155a 60%, #2a2e16 100%) !important;
}
.become_seller_btn {
	width: 100%;
	background: #0b1e3d;
	border: navajowhite;
	color: #fff;
	padding: 10px;
	font-weight: 600;
	transition: all .3s;
	float: left;
	text-align: center;
}
.become_seller_btn:hover {
	width: 100%;
	background: #193f7d;
}

.seller__form_area {
	width: 100%;
	float: left;
	display: block;
	background: #fff !important;
}

.saller___form {
	// background: #2222;
	padding: 20px;
}

.saller___form_header {
	text-align: center;
	padding: 20px 0;
}
.requered_filed {
	color: #f00;
}
.mrgnbootm {
	margin-bottom: 0 !important;
	text-align: left;
}


.add_btn {
	width: auto;
	float: left;
	background: #0b1e3d;
	padding: 10px 30px;
	font-size: 14px;
	color: #fff;
	margin-bottom: 20px;
}
.order_view_search {
	width: 90%;
	float: left;
	display: block;
}
.order_view_search_btn {
	width: 8%;
	float: left;
	display: block;
	margin-left: 13px;
	background: #0b1e3d;
}
.order_view_search_btn:hover .btn:hover {
	background: #222;
}
.order_view_search_btn .btn {
	color: #fff !important;
}
.padding__left .card-block {
	padding-left: 0 !important;
}

.width_area {
	width: 100%;
	float: left;
	display: block;
}
.width__date {
	width: 33% !important;
}
.padding_top {
	padding-top: 0 !important;
}
.padding_top .card .card-block {
	padding-top: 0px !important;
}