<div class="row">
    <div class="col-sm-12">
        <app-card title="Contact Us">

            <div class="row">
                <div class="col-sm-6">
                    <app-card title="Be a Part of Daraz Seller Community">
                        <p>Dingtalk is onestop solution to communicate directly with Daraz & receive exclusive tips, insights & alerts regarding all important Daraz updates. </p>
                        <a href="#">  Download Ding Talk </a> <br>
                        <a href="#">  Learn how to use Ding Talk </a>
                    </app-card>
                </div>
                <div class="col-sm-6">
                    <img src="https://img.alicdn.com/tfs/TB1y6.SKAY2gK0jSZFgXXc5OFXa-377-142.png" alt="">
                    <!-- <app-card title="Be a Part of Daraz Seller Community">
                    </app-card> -->
                </div>
            </div>

        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card title="Have any questions, complaints or feedback?">
            <p> Please visit our Help Center to view answers to the most frequently asked questions. <br>
                If you are unable to find your solution, you may contact us through any of the following channels </p>
            <a href="#"> Click here to see more options </a>
        </app-card>
    </div>
</div>
