<div class="page-body">
    <div class="row">
      <div class="col-sm-12">
        <app-card title="Promotion Detail">
          <form class="editForm" novalidate>
              <div class="row">
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Voucher Name *  </label>
                      <input class="form-control input-md" id="email"  type="text">
                    </div>
                  </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Start From *  </label>
                      <input class="form-control input-md" id="email" type="date" placeholder="Promotion Name *">
                    </div>
                  </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> End Time *  </label>
                      <input class="form-control input-md" id="email" type="date" placeholder="Promotion Name *">
                    </div>
                  </div>

                  
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Collect Start Time  *  </label>
                      <input class="form-control input-md" type="date" >
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <select class="form-control" >
                        <option value>Voucher Type *</option>
                        <optgroup label="Climbing">
                          <option value="pitons">Pitons</option>
                          <option value="cams">Cams</option>
                          <option value="nuts">Nuts</option>
                          <option value="bolts">Bolts</option>
                          <option value="stoppers">Stoppers</option>
                          <option value="sling">Sling</option>
                        </optgroup>
                        <optgroup label="Skiing">
                          <option value="skis">Skis</option>
                          <option value="skins">Skins</option>
                          <option value="poles">Poles</option>
                        </optgroup>
                      </select>
                    
                    </div>
                  </div>















              </div>
              <!-- <div class="form-group text-center">
                <button type="button" uiSref="work" class="btn btn-primary btn-raised" > Able Pro <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
              </div> -->
          </form>
        </app-card>







        <app-card title="Voucher Settings">
          <form class="editForm" novalidate>
              <div class="row">


                <div class="col-md-12">
                    <div class="form-group">
                      <select class="form-control" >
                        <option value>Discount Type * </option>
                        <optgroup label="Climbing">
                          <option value="pitons">Pitons</option>
                          <option value="cams">Cams</option>
                          <option value="nuts">Nuts</option>
                          <option value="bolts">Bolts</option>
                          <option value="stoppers">Stoppers</option>
                          <option value="sling">Sling</option>
                        </optgroup>
                        <optgroup label="Skiing">
                          <option value="skis">Skis</option>
                          <option value="skins">Skins</option>
                          <option value="poles">Poles</option>
                        </optgroup>
                      </select>
                    
                    </div>
                  </div>
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Discount Value (off) *   </label>
                      <input class="form-control input-md" id="email"  type="text">
                    </div>
                  </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> BDT Minimum order value to apply voucher *  </label>
                      <input class="form-control input-md" id="email" type="date" placeholder="Promotion Name *">
                    </div>
                  </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Total vouchers to be issued *   </label>
                      <input class="form-control input-md" id="email" type="date" placeholder="Promotion Name *">
                    </div>
                  </div>

                  
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Usage Limit Per Customer *   </label>
                      <input class="form-control input-md" type="date" >
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <select class="form-control" >
                        <option value>Apply To * </option>
                        <optgroup label="Climbing">
                          <option value="pitons">Pitons</option>
                          <option value="cams">Cams</option>
                          <option value="nuts">Nuts</option>
                          <option value="bolts">Bolts</option>
                          <option value="stoppers">Stoppers</option>
                          <option value="sling">Sling</option>
                        </optgroup>
                        <optgroup label="Skiing">
                          <option value="skis">Skis</option>
                          <option value="skins">Skins</option>
                          <option value="poles">Poles</option>
                        </optgroup>
                      </select>
                    
                    </div>
                  </div>















              </div>
              <!-- <div class="form-group text-center">
                <button type="button" uiSref="work" class="btn btn-primary btn-raised" > Able Pro <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
              </div> -->
          </form>
        </app-card>


  
  
  
  
  
  <div>

  </div>
  

  
  
      </div>
    </div>
  </div>