<div class="row">
    <div class="col-sm-12">
      <app-card title="Voucher List" cardClass="card-datatable">
          <a class="add_btn" [routerLink]="['/promotions/add-voucher']"> Add New Voucher   </a>

        

	
        <div class="table-responsive">
          <table datatable class="table table-striped table-bordered nowrap table-hover">
            <thead>
              <tr>
                  <th>Voucher Name</th>
                  <th>Valid Period  </th>
                  <th>Applied To</th>
                  <th>Display Area</th>
                  <th>Discount (off)</th>
                  <th>Actions </th>
                  <th> Fast Share </th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
  
            <tfoot></tfoot>
          </table>
        </div>
      </app-card>
  
  
  
  
  
  
  
  
  
  
  
  
  
      
    </div>
  
  
  
  </div>
  
