<div class="row">
    <div class="col-sm-12">
      <!-- Material tab card start -->
      <app-card [title]="'Campaign Management'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div class="row m-b-30">
          <div class="col-md-12 col-xl-12">
            <!-- <div class="sub-title">Default</div> -->
            <div class="md-tabs">
              <ngb-tabset>
                <ngb-tab title="Mega/A+ Campaigns">
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-15">
                        <div class="row m-b-30">
                            <div class="col-md-12 col-xl-12">
                              <!-- <div class="sub-title">Default</div> -->
                              <div class="md-tabs">
                                <ngb-tabset>
                                  <ngb-tab title="Platform Campaign">
                                    <ng-template ngbTabContent>
                                      <div [@fadeInOutTranslate] class="m-t-15">
                                        <div class="col-sm-12">
                                            <!-- Bootstrap tab card start -->
                                            
                                            
                                            
                                            <app-card>
                                              <div class="row">
                                                <div class="col-md-12 col-xl-12">
                                                  <ngb-tabset>
                                                    <ngb-tab title="Available Campaign">
                                                      <ng-template ngbTabContent>
                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                  <app-card cardClass="card-datatable">
                                                                    <div class="table-responsive">
                                                                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                                        <thead>
                                                                            

                                                                          <tr>
                                                                              <th>Campaign Banner</th>
                                                                              <th>Campaign Name  </th>
                                                                              <th>Sellers</th>
                                                                              <th>Vouchers</th>
                                                                              <th>Registration Close In </th>
                                                                              <th>Campaign Live Period </th>
                                                                              <th> Voucher Editable Due Date </th>
                                                                              <th> Action </th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                          <td>Tiger Nixon</td>
                                                                          <td>Weekly Voucher Campaign 11th - 24th July</td>
                                                                          <td>134</td>
                                                                          <td>170</td>
                                                                          <td>07 Jul 2021 23:59 GMT+06:00 <br>
                                                                            03d:12h:21m:52s</td>
                                                                          <td>Start at 11 Jul 2021 00:00 GMT+06:00 <br>

                                                                            End at 24 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Start at 01 Jul 2021 10:33 GMT+06:00 <br>

                                                                            End at 07 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Join</td>
                                                                        </tr>
                                                                        </tbody>
                                                              
                                                                        <tfoot></tfoot>
                                                                      </table>
                                                                    </div>
                                                                  </app-card>
                                                                  
                                                                </div>
                                                              
                                                              </div>
                                                              
                                                        </div>
                                                      </ng-template>
                                                    </ngb-tab>
                                                    <ngb-tab title="Registered Campaign">
                                                      <ng-template ngbTabContent>
                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                  <app-card cardClass="card-datatable">
                                                                    <div class="table-responsive">
                                                                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                                        <thead>
                                                                          <tr>
                                                                              <th>Campaign Banner</th>
                                                                              <th>Campaign Name  </th>
                                                                              <th>Status</th>
                                                                              <th>Vouchers</th>
                                                                              <th>Registration Close In </th>
                                                                              <th>Campaign Live Period </th>
                                                                              <th> Action </th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                        </tr>
                                                                        </tbody>
                                                              
                                                                        <tfoot></tfoot>
                                                                      </table>
                                                                    </div>
                                                                  </app-card>
                                                                  
                                                                </div>
                                                              
                                                              </div>
                                                        </div>
                                                      </ng-template>
                                                    </ngb-tab>
                                                    <ngb-tab title="Ineligible Campaign">
                                                      <ng-template ngbTabContent>
                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                  <app-card cardClass="card-datatable">
                                                                    <div class="table-responsive">
                                                                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                                        <thead>
                                                                            

                                                                          <tr>
                                                                              <th>Campaign Banner</th>
                                                                              <th>Campaign Name  </th>
                                                                              <th>Sellers</th>
                                                                              <th>Vouchers</th>
                                                                              <th>Registration Close In </th>
                                                                              <th>Campaign Live Period </th>
                                                                              <th> Voucher Editable Due Date </th>
                                                                              <th> Action </th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                          <td>Tiger Nixon</td>
                                                                          <td>Weekly Voucher Campaign 11th - 24th July</td>
                                                                          <td>134</td>
                                                                          <td>170</td>
                                                                          <td>07 Jul 2021 23:59 GMT+06:00 <br>
                                                                            03d:12h:21m:52s</td>
                                                                          <td>Start at 11 Jul 2021 00:00 GMT+06:00 <br>

                                                                            End at 24 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Start at 01 Jul 2021 10:33 GMT+06:00 <br>

                                                                            End at 07 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Join</td>
                                                                        </tr>
                                                                        </tbody>
                                                              
                                                                        <tfoot></tfoot>
                                                                      </table>
                                                                    </div>
                                                                  </app-card>
                                                                  
                                                                </div>
                                                              
                                                              </div>
                                                        </div>
                                                      </ng-template>
                                                    </ngb-tab>
                                                  </ngb-tabset>
                                                </div>
                                              </div>
                                            </app-card>
                                            <!-- Bootstrap tab card end -->
                                          </div>
                                      </div>
                                    </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Voucher Campaign">
                                    <ng-template ngbTabContent>
                                      <div [@fadeInOutTranslate] class="m-t-15">
                                        <p class="m-4">2. Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                                      </div>
                                    </ng-template>
                                  </ngb-tab>
                                </ngb-tabset>
                              </div>
                            </div>
                          </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Daily Sales">
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-15">
                        <div class="row m-b-30">
                            <div class="col-md-12 col-xl-12">
                              <!-- <div class="sub-title">Default</div> -->
                              <div class="md-tabs">
                                <ngb-tabset>
                                  <ngb-tab title="Platform Campaign">
                                    <ng-template ngbTabContent>
                                      <div [@fadeInOutTranslate] class="m-t-15">
                                        <div class="col-sm-12">
                                            <!-- Bootstrap tab card start -->
                                            
                                            
                                            
                                            <app-card>
                                              <div class="row">
                                                <div class="col-md-12 col-xl-12">
                                                  <ngb-tabset>
                                                    <ngb-tab title="Available Campaign">
                                                      <ng-template ngbTabContent>
                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                  <app-card cardClass="card-datatable">
                                                                    <div class="table-responsive">
                                                                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                                        <thead>
                                                                            

                                                                          <tr>
                                                                              <th>Campaign Banner</th>
                                                                              <th>Campaign Name  </th>
                                                                              <th>Sellers</th>
                                                                              <th>Vouchers</th>
                                                                              <th>Registration Close In </th>
                                                                              <th>Campaign Live Period </th>
                                                                              <th> Voucher Editable Due Date </th>
                                                                              <th> Action </th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                          <td>Tiger Nixon</td>
                                                                          <td>Weekly Voucher Campaign 11th - 24th July</td>
                                                                          <td>134</td>
                                                                          <td>170</td>
                                                                          <td>07 Jul 2021 23:59 GMT+06:00 <br>
                                                                            03d:12h:21m:52s</td>
                                                                          <td>Start at 11 Jul 2021 00:00 GMT+06:00 <br>

                                                                            End at 24 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Start at 01 Jul 2021 10:33 GMT+06:00 <br>

                                                                            End at 07 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Join</td>
                                                                        </tr>
                                                                        </tbody>
                                                              
                                                                        <tfoot></tfoot>
                                                                      </table>
                                                                    </div>
                                                                  </app-card>
                                                                  
                                                                </div>
                                                              
                                                              </div>
                                                              
                                                        </div>
                                                      </ng-template>
                                                    </ngb-tab>
                                                    <ngb-tab title="Registered Campaign">
                                                      <ng-template ngbTabContent>
                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                  <app-card cardClass="card-datatable">
                                                                    <div class="table-responsive">
                                                                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                                        <thead>
                                                                          <tr>
                                                                              <th>Campaign Banner</th>
                                                                              <th>Campaign Name  </th>
                                                                              <th>Status</th>
                                                                              <th>Vouchers</th>
                                                                              <th>Registration Close In </th>
                                                                              <th>Campaign Live Period </th>
                                                                              <th> Action </th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                          <td></td>
                                                                        </tr>
                                                                        </tbody>
                                                              
                                                                        <tfoot></tfoot>
                                                                      </table>
                                                                    </div>
                                                                  </app-card>
                                                                  
                                                                </div>
                                                              
                                                              </div>
                                                        </div>
                                                      </ng-template>
                                                    </ngb-tab>
                                                    <ngb-tab title="Ineligible Campaign">
                                                      <ng-template ngbTabContent>
                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                  <app-card cardClass="card-datatable">
                                                                    <div class="table-responsive">
                                                                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                                        <thead>
                                                                            

                                                                          <tr>
                                                                              <th>Campaign Banner</th>
                                                                              <th>Campaign Name  </th>
                                                                              <th>Sellers</th>
                                                                              <th>Vouchers</th>
                                                                              <th>Registration Close In </th>
                                                                              <th>Campaign Live Period </th>
                                                                              <th> Voucher Editable Due Date </th>
                                                                              <th> Action </th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                          <td>Tiger Nixon</td>
                                                                          <td>Weekly Voucher Campaign 11th - 24th July</td>
                                                                          <td>134</td>
                                                                          <td>170</td>
                                                                          <td>07 Jul 2021 23:59 GMT+06:00 <br>
                                                                            03d:12h:21m:52s</td>
                                                                          <td>Start at 11 Jul 2021 00:00 GMT+06:00 <br>

                                                                            End at 24 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Start at 01 Jul 2021 10:33 GMT+06:00 <br>

                                                                            End at 07 Jul 2021 23:59 GMT+06:00</td>
                                                                          <td>Join</td>
                                                                        </tr>
                                                                        </tbody>
                                                              
                                                                        <tfoot></tfoot>
                                                                      </table>
                                                                    </div>
                                                                  </app-card>
                                                                  
                                                                </div>
                                                              
                                                              </div>
                                                        </div>
                                                      </ng-template>
                                                    </ngb-tab>
                                                  </ngb-tabset>
                                                </div>
                                              </div>
                                            </app-card>
                                            <!-- Bootstrap tab card end -->
                                          </div>
                                      </div>
                                    </ng-template>
                                  </ngb-tab>
                                </ngb-tabset>
                              </div>
                            </div>
                          </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Special Promotions">
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-15">
                        <app-card>
                            <div class="row">
                              <div class="col-md-12 col-xl-12">
                                <ngb-tabset>
                                  <ngb-tab title="Available Campaign">
                                    <ng-template ngbTabContent>
                                      <div [@fadeInOutTranslate] class="m-t-15">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                <app-card cardClass="card-datatable">
                                                  <div class="table-responsive">
                                                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                      <thead>
                                                          

                                                        <tr>
                                                            <th>Campaign Banner</th>
                                                            <th>Campaign Name  </th>
                                                            <th>Sellers</th>
                                                            <th>Vouchers</th>
                                                            <th>Registration Close In </th>
                                                            <th>Campaign Live Period </th>
                                                            <th> Voucher Editable Due Date </th>
                                                            <th> Action </th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                      <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>Weekly Voucher Campaign 11th - 24th July</td>
                                                        <td>134</td>
                                                        <td>170</td>
                                                        <td>07 Jul 2021 23:59 GMT+06:00 <br>
                                                          03d:12h:21m:52s</td>
                                                        <td>Start at 11 Jul 2021 00:00 GMT+06:00 <br>

                                                          End at 24 Jul 2021 23:59 GMT+06:00</td>
                                                        <td>Start at 01 Jul 2021 10:33 GMT+06:00 <br>

                                                          End at 07 Jul 2021 23:59 GMT+06:00</td>
                                                        <td>Join</td>
                                                      </tr>
                                                      </tbody>
                                            
                                                      <tfoot></tfoot>
                                                    </table>
                                                  </div>
                                                </app-card>
                                                
                                              </div>
                                            
                                            </div>
                                            
                                      </div>
                                    </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Registered Campaign">
                                    <ng-template ngbTabContent>
                                      <div [@fadeInOutTranslate] class="m-t-15">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                <app-card cardClass="card-datatable">
                                                  <div class="table-responsive">
                                                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                      <thead>
                                                        <tr>
                                                            <th>Campaign Banner</th>
                                                            <th>Campaign Name  </th>
                                                            <th>Status</th>
                                                            <th>Vouchers</th>
                                                            <th>Registration Close In </th>
                                                            <th>Campaign Live Period </th>
                                                            <th> Action </th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                      <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                      </tr>
                                                      </tbody>
                                            
                                                      <tfoot></tfoot>
                                                    </table>
                                                  </div>
                                                </app-card>
                                                
                                              </div>
                                            
                                            </div>
                                      </div>
                                    </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Ineligible Campaign">
                                    <ng-template ngbTabContent>
                                      <div [@fadeInOutTranslate] class="m-t-15">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                <app-card cardClass="card-datatable">
                                                  <div class="table-responsive">
                                                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                                                      <thead>
                                                          

                                                        <tr>
                                                            <th>Campaign Banner</th>
                                                            <th>Campaign Name  </th>
                                                            <th>Sellers</th>
                                                            <th>Vouchers</th>
                                                            <th>Registration Close In </th>
                                                            <th>Campaign Live Period </th>
                                                            <th> Voucher Editable Due Date </th>
                                                            <th> Action </th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                      <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>Weekly Voucher Campaign 11th - 24th July</td>
                                                        <td>134</td>
                                                        <td>170</td>
                                                        <td>07 Jul 2021 23:59 GMT+06:00 <br>
                                                          03d:12h:21m:52s</td>
                                                        <td>Start at 11 Jul 2021 00:00 GMT+06:00 <br>

                                                          End at 24 Jul 2021 23:59 GMT+06:00</td>
                                                        <td>Start at 01 Jul 2021 10:33 GMT+06:00 <br>

                                                          End at 07 Jul 2021 23:59 GMT+06:00</td>
                                                        <td>Join</td>
                                                      </tr>
                                                      </tbody>
                                            
                                                      <tfoot></tfoot>
                                                    </table>
                                                  </div>
                                                </app-card>
                                                
                                              </div>
                                            
                                            </div>
                                      </div>
                                    </ng-template>
                                  </ngb-tab>
                                </ngb-tabset>
                              </div>
                            </div>
                          </app-card>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </app-card>
      <!-- Material tab card end -->
    </div>
  </div>