<div class="row">
  <div class="col-sm-12">
    <app-card title="Product Overview" cardClass="card-datatable">
        <a class="add_btn" [routerLink]="['/products/add-product-from']"> Add Product  </a>
      <div class="table-responsive">
        <table datatable class="table table-striped table-bordered nowrap table-hover">
          <thead>
            <tr>
                <th>Name</th>
                <th>Seller SKU  </th>
                <th>Created</th>
                <th>Retail Price</th>
                <th>Sale Price </th>
                <th>Lowest Price </th>
                <th> Status </th>
                <th> Action </th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td>$320,800</td>
            <td>$320,800</td>
          </tr>
          </tbody>

          <tfoot></tfoot>
        </table>
      </div>
    </app-card>













    
  </div>



</div>
