<div class="page-body">
    <div class="row">
      <div class="col-sm-12">
        <app-card title="Basic Information">
          <form class="editForm" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" >Product Name</label>
                    <input class="form-control input-md" id="email" name="email" type="text" placeholder="Product Name">
                    <label id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid email address.</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" >Category</label>
                    <input class="form-control input-md" id="email" name="email" type="text" placeholder="Category">
                    <label id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid email address.</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" >Upload Category Images</label>
                    <input type="file" class="form-control">
                </div>
                </div>
              </div>
              <div class="form-group ">
                <button type="button" uiSref="work" class="btn btn-primary btn-raised"  > Submit <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
              </div>
          </form>
        </app-card>
      </div>
    </div>
  </div>