<section class="become_seller_area">
    <div class="become_seller_header">
        <h3> Selling Made Simple </h3>
    <p> Become a seller today </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card wather-card-2">
                    <div class="nature-card nature_card_new nature_card_new_two">
                        <img src="assets/images/widget/wather2m.png" alt="whether image" class="mountain">
                        <img src="assets/images/widget/wather2star1.png" alt="whether image" class="snow1">
                        <img src="assets/images/widget/wather2star2.png" alt="whether image" class="snow2">
                        <img src="assets/images/widget/wather2bottom.png" alt="whether image" class="bottom-img">
                        <span class="sun"></span>
                        <div class="nature-cont text-white">
                        <h6>InfotechMail Seller</h6>
                        <!-- <h2>16°</h2> -->
                        </div>
                    </div>
                    <div class="card-block">
                    <p class="card__text__"> InfotechMail offers to consumers quality shopping experience with 100% authentic products. We offer trusted brands with superior delivery and return experience. </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>You are a brand owner or authorized distributor</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Exclusive access to dedicated DarazMall campaigns</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Benefit from higher overall seacrh ranking</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a [routerLink]="['/seller-form']" class="become_seller_btn">  Sign up as InfotechMail Seller  </a>
                            </div>
                        </div>
                    </div>
                    </div>
                
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card wather-card-2">
                    <div class="nature-card nature_card_new nature_card_new_three">
                        <img src="assets/images/widget/wather2m.png" alt="whether image" class="mountain">
                        <img src="assets/images/widget/wather2star1.png" alt="whether image" class="snow1">
                        <img src="assets/images/widget/wather2star2.png" alt="whether image" class="snow2">
                        <img src="assets/images/widget/wather2bottom.png" alt="whether image" class="bottom-img">
                        <span class="sun"></span>
                        <div class="nature-cont text-white">
                        <h6>Local Seller</h6>
                        </div>
                    </div>
                    <div class="card-block">
                    <p class="card__text__"> DarazMall offers to consumers quality shopping experience with 100% authentic products. We offer trusted brands with superior delivery and return experience. </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>You are a brand owner or authorized distributor</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Exclusive access to dedicated DarazMall campaigns</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Benefit from higher overall seacrh ranking</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a [routerLink]="['/seller-form']" class="become_seller_btn">  Sign up as a Local Seller  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card wather-card-2">
                    <div class="nature-card nature_card_new nature_card_new_four">
                        <img src="assets/images/widget/wather2m.png" alt="whether image" class="mountain">
                        <img src="assets/images/widget/wather2star1.png" alt="whether image" class="snow1">
                        <img src="assets/images/widget/wather2star2.png" alt="whether image" class="snow2">
                        <img src="assets/images/widget/wather2bottom.png" alt="whether image" class="bottom-img">
                        <span class="sun"></span>
                        <div class="nature-cont text-white">
                        <h6>Global Seller</h6>
                        </div>
                    </div>
                    <div class="card-block">
                    <p class="card__text__"> DarazMall offers to consumers quality shopping experience with 100% authentic products. We offer trusted brands with superior delivery and return experience. </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>You are a brand owner or authorized distributor</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Exclusive access to dedicated DarazMall campaigns</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Benefit from higher overall seacrh ranking</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a [routerLink]="['/seller-form']" class="become_seller_btn">  Sign up as a Global Seller </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card wather-card-2">
                    <div class="nature-card nature_card_new nature_card_new_five">
                        <img src="assets/images/widget/wather2m.png" alt="whether image" class="mountain">
                        <img src="assets/images/widget/wather2star1.png" alt="whether image" class="snow1">
                        <img src="assets/images/widget/wather2star2.png" alt="whether image" class="snow2">
                        <img src="assets/images/widget/wather2bottom.png" alt="whether image" class="bottom-img">
                        <span class="sun"></span>
                        <div class="nature-cont text-white">
                        <h6>Digital Sheba</h6>
                        </div>
                    </div>
                    <div class="card-block">
                    <p class="card__text__"> DarazMall offers to consumers quality shopping experience with 100% authentic products. We offer trusted brands with superior delivery and return experience. </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>You are a brand owner or authorized distributor</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Exclusive access to dedicated DarazMall campaigns</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="become__list">
                                    <div class=""><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <h6>Benefit from higher overall seacrh ranking</h6>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a [routerLink]="['/seller-form']" class="become_seller_btn"> Sign up as Digital Goods Seller </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


