<div class="row">
    <div class="col-sm-12">
        <app-card title="Account Settings">
            <mat-tab-group>
                <mat-tab label="Account Settings">
                    <app-card title="Change Profile Photo">
                        <div class="md-tabs">
                            <div class="seller_logo_box">
                                <div class="upload-btn-wrapper">
                                    <i class="fa fa-plus"></i> <br> 
                                    <span> Upload </span>
                                    <input type="file" name="myfile" />
                                </div>
                            </div>
                        </div>
                    </app-card>
                </mat-tab>
                <mat-tab label="Change Password">
                    <!-- Change Password -->
                    <app-card title="Change Password">
                        <p> The password should be at least 8 characters long. It must contain upper and lower case characters and at least one number. </p>
                   
                        <div class="single_from_area">
                            <div class="row">
                              <div class="col-lg-3">
                                <label class="form-control-label" > Email Address <span style="color: #f00 !important"> * </span> </label>
                                </div>
                                <div class="col-lg-6">
                                    <P> info@gmail.com</P>
                                </div>
                            </div>
                        </div>
                        <div class="single_from_area">
                            <div class="row">
                              <div class="col-lg-3">
                                <label class="form-control-label" > Old Password <span style="color: #f00 !important"> * </span> </label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control input-md" id="email" name="email" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_from_area">
                            <div class="row">
                              <div class="col-lg-3">
                                <label class="form-control-label" > New Password <span style="color: #f00 !important"> * </span> </label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control input-md" id="email" name="email" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_from_area">
                            <div class="row">
                              <div class="col-lg-3">
                                <label class="form-control-label" > Repeat Password <span style="color: #f00 !important"> * </span> </label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control input-md" id="email" name="email" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-card>
                </mat-tab>
            </mat-tab-group>
        </app-card>
    </div>
</div>
  
