<section class="form-login-body">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto login-desk">
         <div class="row">
              <div class="col-md-7 detail-box">
                  <img class="logo" src="../../../../assets/images/new_logo.png" alt=""> 
                  <div class="detailsh">
                       <img class="help" src="../../../../assets/help.png" alt="">
                      <h3> 3 Simple Steps to Sell on Infotech  </h3>
                      <!-- <p>blow off well pardon me old lurgy absolutely bladdered bodge</p> -->
                      <div class="login__box">
                        <!-- <i class="fa fa-comment"></i> -->
                        <img src="../../../../assets/images/sing_up.png" alt="">
                        <div class="login__box_text">
                            <span> 1 </span>
                            <p> Sing-up<br> store profile </p>
                        </div>
                      </div>
                      <div class="login__box">
                        <img src="../../../../assets/images/sing_up1.png" alt="">
                        <div class="login__box_text">
                            <span> 2 </span>
                            <p> Upload product <br> to start selling </p>
                        </div>
                      </div>
                      <div class="login__box">
                        <img src="../../../../assets/images/sing_up2.png" alt="">
                        <div class="login__box_text">
                            <span> 3 </span>
                            <p> Adopt tools to <br> maximize sales </p>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-5 loginform">
                   <h4>Welcome Back</h4>                   
                   <p>Signin to your Account</p>
                   <div class="login-det">
                      <div class="form-row">
                           <label for="">Username</label>
                               <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                      <i class="fa fa-user"></i>
                                  </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter Username Or Phone Number" aria-label="Username" aria-describedby="basic-addon1">
                           </div>
                      </div>
                       <div class="form-row">
                           <label for="">Password</label>
                               <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1">
                                      <i class="fa fa-lock"></i>
                                  </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter Password" aria-label="Username" aria-describedby="basic-addon1">
                           </div>
                      </div>
                      
                      <p class="forget"><a href="">Forget Password?</a></p>
                      
                      <button class="btn btn-sm btn-danger" (click)="loginuser()">  Login  </button>
                      
                      
                      <div class="social-link">
                          <ul class="socil-icon">
                              <li>
                                  <a href="#"><i class="fa fa-facebook-f"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-instagram"></i></a> 
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-dribbble"></i></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-behance"></i></a>
                              </li>
                         </ul>
                      </div>

                      <P class="bottom_class"> Don't have an account yet? <span (click)="becomeSeller()"> Become A Seller   </span> </P>
                      
                   </div>
              </div>
         </div>
        
      </div>
  </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
