<div class="row">
    <div class="col-sm-12">
      <app-card title="Reviews Management" cardClass="card-datatable">
        <div class="order_overview_area">
          <div class="order_view_search">
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <input class="form-control input-md" id="email" type="text" placeholder="Order Number">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <input class="form-control input-md" id="email" type="text" placeholder="Product Name">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <input class="form-control input-md" id="email" type="text" placeholder="SKU">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <input class="form-control input-md" id="email" type="text" placeholder="Seller SKU">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <input class="form-control input-md" id="email" type="text" placeholder="Content">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <input class="form-control input-md" id="email" type="text" placeholder="Status">
                </div>
              </div>
              <div class="col-lg-4">
                <app-card class="padding__left" [cardOptionBlock]="true">
                  <input class="form-control" type="date" />
                </app-card>
              </div>
              <div class="col-lg-4">
                <app-card class="padding__left">
                  <input class="form-control input-md" id="email" type="submit" value="Search" >
                </app-card>
              </div>
            </div>
          </div>
        </div>
          <!-- <a class="add_btn" [routerLink]="['/products/add-product-from']"> Add Product  </a> -->
        <div class="table-responsive">
          <table datatable class="table table-striped table-bordered nowrap table-hover">
            <thead>
              <tr>
                  <th>Order</th>
                  <th>Content </th>
                  <th>Product</th>
                  <th>Rating </th>
                  <th>Status</th>
                  <th>Action </th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            </tbody>
  
            <tfoot></tfoot>
          </table>
        </div>
      </app-card>
    </div>
  </div>
  
